<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/build/main.css" />
    <title>app-title</title>
</head>
<body ng-app="app">

    <main ng-controller="RemarkCtrl">
        <ul id="messages">
            <li ng-repeat="remark in remarks track by $index">{{ remark }}</li>
        </ul>
        <form action="#" ng-submit="send()">
            <input ng-model="newRemark" id="m" autocomplete="off" />
            <button>Send</button>
        </form>
    </main>


<!-- scripts -->
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script src="/build/bundle-node-modules.js"></script>
<script src="/build/main.js"></script>
</body>
</html>